@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: rgb(209, 212, 216);
}


.nav-content {
    color: rgb(56, 49, 49);
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-weight: 550;
}

ol {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    list-style: none;
}

li {
    padding: 3px 5px;
    cursor: pointer;
}

input[type="search"] {
    align-self: center;
    padding: 10px;
    background-color: rgb(239, 241, 241);
}

li:hover {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(233, 233, 233);
    transition: 0.6s ease;
}

.content-i {
    padding: 10px;
    width: 89%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.end-1, 
.end-2, 
.end-3,
.end-4,
.end-5 {
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    line-height: 2.3rem;
    font-weight: 700;
}

div {
    padding: 5px;
}

.nivelar-imagen:not(:last-child) {
    width: 100%;
    max-height: 200px;
}

div .end-2 {
    grid-column: 2/4;
}

div .end-4 {
    grid-column: 1/4;
}

.end-3 {
    grid-column: 1/4;
}

.end-3 {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.end-3 img {
    width: 50%;

}
